* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}



.text {
	position: absolute;
	top:0;
	font-size: 18vw;
	font-family: 'Anton', sans-serif;
	color: #fff;
	background: #000;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 900;
	mix-blend-mode: multiply;
}
